body {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  margin: auto;
  background-color: black;
  color: lightsteelblue;
}

header {
  text-align: center;
}

h1 {
}

.main {
}

.date-select {
  color: lightyellow;
  text-align: center;
  margin-bottom: 20px;
}

#date-form {
}

#selected-date {
  background-color: lightyellow;
  border: none;
  margin-left: 10px;
}

#rover-photos {
}

.photo {
  width: 48%;
  padding: 1%;
}
