html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  margin: auto;
  background-color: #222;
  color: #99857a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

header {
  margin: 1em 0;
  padding-left: 1%;
}

#icon-github {
  width: 30px;
  float: right;
  padding-right: 1em;
}

h1 {
  color: #e27b58;
  margin: 0;
}

.dateinput {
  margin: 0.7em 0;
  font-weight: bold;
  padding-left: 1%;
}

#date {
  background-color: #99857a;
  color: #222;
  font-weight: bold;
  border: none;
  padding: 5px;
  text-align: center;
}

#defaultphoto {
  width: 48%;
}

#rover-photos {
  text-align: center;
}

.photo {
  width: 31%;
  padding: 1%;
}
